
<div class="container">
    <div class="card-white">
      <%= image_tag "Viktor01.jpg", class: "img-circle"%>
      <h2 class="m-3">About</h2>
      <p id="intro">Hello! My name is Viktor.
        <br>
        <br>
        Graduated in Business Administration by PUC-Rio, I've worked as a finance analyst for several years.
        <br>
        <br>
        In 2018 I started to study by myself and finally in 2020 I decided to make the jump and entered Le Wagon's Web dev bootcamp, one of the best decisions in my life.
        Now I can confidently call myself a web dev and I am eager to keep exploring this amazing universe. 

        In my free time I like playing Magic:The Gathering, games and drinking beer with my friends.
      </p>
    </div>

    <div class="card-white">
      <h2>Experienced with</h2>
      <br>
      <%= image_tag "ruby.png", class: "badge-skill", title: "Ruby" %>
      <%= image_tag "rails.png", class: "badge-skill", title: "Rails" %>
      <%= image_tag "html.png", class: "badge-skill", title: "HTML5" %>
      <%= image_tag "css.png", class: "badge-skill", title: "CSS3" %>
      <%= image_tag "sass.png", class: "badge-skill", title: "SASS" %>
      <%= image_tag "bootstrap.png", class: "badge-skill", title: "Bootstrap" %>
      <%= image_tag "sql.png", class: "badge-skill", title: "SQL" %>
      <%= image_tag "postgre.png", class: "badge-skill", title: "Postgre" %>
      <%= image_tag "github.png", class: "badge-skill", title: "GitHub" %>
      <%= image_tag "heroku.png", class: "badge-skill", title: "Heroku" %>
    </div>

    <div class="card-white">
      <h2>Full-fledged projects</h2>
      <a href="https://www.algolearning.club/" target="_blank"><%= image_tag "AlgoLogo.png", class: "card-logo" %></a>
      <a href="https://fourlegsangels-vkaraujo.herokuapp.com/" target="_blank"><%= image_tag "4LegsLogo.png", class: "card-logo" %></a>
    </div>

    <div class="card-white">
      <h2>Conceptual Projects</h2>
      <p></p>
      <div class="card-product">
        <a href="https://apipalooza.herokuapp.com/" target="_blank"><%= image_tag "APIimg.png" %></a>
        <div class="card-product-infos">
          <h2 class="text-left">APIpalooza</h2>
          <p> All around API usage and experimentation</p>
        </div>
        
      </div>
    </div>

    <div class="card-white">
      <h2>Contact me</h2>
      <ul class="list-inline">
        <li>
          <a href="https://www.linkedin.com/in/viktor-waissmann-de-araujo-62928640/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/vkaraujo" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=5521993244202&text=Olá, Viktor" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </li>
      </ul>
    </div>
</div>
