
<div class="container">
    <div class="card-white">
      <%= image_tag "Viktor01.jpg", class: "img-circle"%>
      <h2 class="m-5">About</h2>
      <p id="intro">Hello! My name is Viktor and I'm a Full-Stack web dev.
      <br>
      <br>
      Graduated in Business Administration by PUC-Rio, I've worked in the finance segment for several years. As a gamer, 
      I always nurtured a great deal of admiration for coding, but never knew if it was for me.
      <br>
      <br>
      In 2018 I started to study by myself and finally in 2020 I decided to made the jump and entered Le Wagon's Web dev bootcamp, one of the best decisions in my life.
      Now I can confidently call myself a web dev and I am eager to keep exploring the amazing universe that is coding, 
      </p>
    </div>

    <div class="card-white">
      <h2>Experienced with</h2>
      <br>
      <%= image_tag "ruby.png", class: "badge-skill", title: "Ruby" %>
      <%= image_tag "rails.png", class: "badge-skill", title: "Rails" %>
      <%= image_tag "html.png", class: "badge-skill", title: "HTML5" %>
      <%= image_tag "css.png", class: "badge-skill", title: "CSS3" %>
      <%= image_tag "sass.png", class: "badge-skill", title: "SASS" %>
      <%= image_tag "bootstrap.png", class: "badge-skill", title: "Bootstrap" %>
      <%= image_tag "sql.png", class: "badge-skill", title: "SQL" %>
      <%= image_tag "postgre.png", class: "badge-skill", title: "Postgre" %>
      <%= image_tag "github.png", class: "badge-skill", title: "GitHub" %>
      <%= image_tag "heroku.png", class: "badge-skill", title: "Heroku" %>
    </div>

    <div class="card-white">
      <h2>Full-fledged projects</h2>
      <a href="https://www.algolearning.club/"><%= image_tag "AlgoLogo.png", class: "card-logo" %></a>
      <a href="https://fourlegsangels-vkaraujo.herokuapp.com/"><%= image_tag "4LegsLogo.png", class: "card-logo" %></a>
    </div>

    <div class="card-white">
      <h2>Conceptual projects</h2>
    </div>

    <div class="card-white">
      <h2>Contact me</h2>
      <ul class="list-inline">
        <li>
          <a href="https://www.linkedin.com/in/viktor-waissmann-de-araujo-62928640/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/vkaraujo">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
</div>
